@import '_vars';

body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 10px 0px 10px;
}

#mainhead {
    img {
        margin: 0px 30px;
        max-height: 100px;
    }
    div {
        height: 5px;
        background-color: $color-green;
        border-bottom: 5px solid $color-pink;
    }
    #divbottom {
        background-color: $color-pink;
        border-bottom-color: $color-green;
    }
}

#mainnav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        li {
            padding: 10px;
            border-left: $menu-border;
            border-right: $menu-border;
            border-top: $menu-border-small;
            border-bottom: $menu-border-small;
            border-radius: 20px;
            a{
                font-size: 24px;
                font-weight: bolder;
                font-family: $main-font;
                color: $color-green;
                letter-spacing: 2px;
            }
        }
    }
}