<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <header id="mainhead">
        <img src="images/cannabliss.svg" alt="logo">
        <div id="divtop"></div>
        <nav id="mainnav">
            <ul>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <div id="divbottom"></div>
    <div id="maintitle">
        <h2>NEW <span>ARRIVALS</span></h2>
    </div>
    <div>
        <h2 class="hidden">Content</h2>
        <div id="flexi">
            <div id="buttondiv">
                <h3 class="promobutton" data-buttonref="0"></h3>
                <h3 class="promobutton" data-buttonref="1"></h3>
                <h3 class="promobutton" data-buttonref="2"></h3>
                <h3 class="promobutton" data-buttonref="3"></h3>
            </div>
            <div id="promoimg">
                <img id="theimage" src="images/nug0.jpg" alt="promo">
            </div>
        </div>
        <div id="infocon">
            <h2 id="name"></h2>
            <h3 id="sub"></h3>
            <p id="info"></p>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>